rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Make sure the user is signed in to access any data
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
    
    // Explicit security: User can only read/write their own info
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    match /history/{historyId} {
      allow read, write: if request.auth != null && resource.data.userId == request.auth.uid;
      allow create: if request.auth != null && request.resource.data.userId == request.auth.uid;
    }
  }
}
